.disk {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  z-index: 2;
  }

  .one {
    width: 90%;
    height: 35px;
  }
  .two {
    width: 80%;
    height: 35px;
  }
  .three {
    width: 70%;
    height: 35px;
  }
  .four {
    width: 60%;
    height: 35px;
  }
  .five {
    width: 50%;
    height: 35px;
  }
  .six {
    width: 40%;
    height: 35px;
  }
  .seven {
    width: 30%;
    height: 35px;
  }
  