.tower {
    background-image: url("../../assets/cone.png");
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
  }

  img {
    position: relative;
    z-index: 1;
    height: 325px;
    width: 50px;
  }