.tower {
    background-image: url("../../assets/cone.png");
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  img {
    position: relative;
    z-index: 1;
    height: 325px;
    width: 50px;
  }